@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: #000;
}

.app-front {
    position: relative;
    background: #000;
}

.app-front img {
    opacity: 0.4;
}

.container {
    position: absolute;
    float: left;
    min-height: 40%;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 1000;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0% 4% auto;
}
header img {
    width: 15.5rem;
    opacity: 1 !important;
}
.nav-links {
    color: #fff;
    width: 44%;
}
.nav-links a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.nav-links a:hover{
    color: #9c9898;
    transform: scale(1.1);
}

.guest-login {
    font-size: 1.25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.guest-login:hover{
    cursor: pointer;
    transform: scale(1.08);
}
.guest-login-disabled {
    font-size: 1.25rem;
    width: 100%;
    pointer-events:none;
}
.guest-login-disabled:hover{
    cursor: none ;
}

header button {
    cursor: pointer;
    background: red;
    border: none;
}
header button:hover {
    transform: scale(1.08);
}

header div {
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    width: 8rem;
    height: 3.2rem;
    color: #fff;
    font-size: 1.4rem;
    border-radius: .3rem;
}

.logged-in-user {
    width: 10rem;
    height: 3.2rem;
    background: #000;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: .3rem;
    font-family: 'FontAwesome', 'Second Font name';
    padding-left: 1rem;
}
.guest-user {
    width: 10rem;
    height: 3.2rem;
    background: #000;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: .3rem;
    font-family: 'FontAwesome', 'Second Font name';
    padding-left: 1rem;
}
.guest-user a {
    width: inherit;
    text-decoration: none;
    color: #fff;
}

.home {
    max-width: 60%;
    margin: 8% auto;
    color: #fff;
    text-align: center;
}

.register-email input, .register-email button {
    width: 70%;
    height: 5.8rem;
    font-size: 1.625rem;
    padding-left: 2%;
    border: #000;
    border-radius: .2rem;
}
.register-email button:hover {
    transform: scale(1.04);
}

.app-feature-row {
    display: flex;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;
    background: #000;
}

.app-feature-row-reverse {
    display: flex;
    padding: 2rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: #000;
}

.app-feature section {
    color: #fff;
    text-align: center;
    margin: auto;
}

.app-feature h1 {
    font-size: 4rem;
}

.app-feature h3 {
    font-size: 2rem;
    padding: 0 10rem;
}

.app-feature img {
    margin: 0rem 6rem 2rem 6rem;
}

.faqs {
    background: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
    padding-top: 5%;
}

.faq-ques {
    align-items: center;
    padding: 3rem;
    max-width: 60%;
    background: #242424;
    height: 7rem;
    margin: 0.8rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.faq-ans {
    padding: 3rem;
    max-width: 60%;
    background: #242424;
    margin: 0.8rem auto;
}
.faqs .faq-register-email {
    margin: 5rem;
}

footer {
    background: #000;
    color: #757575;
}
footer h2 {
    padding: 5rem 0rem 2rem 18.7rem;
}
.footer-select {
    margin: 1.5rem 0rem 2rem 18.7rem;
    width: 12rem;
    padding-left: 1rem;
    border-color:#757575;
    color: rgb(148, 141, 141); 
}
.footer-country {
    padding: 0rem 0rem 2rem 18.7rem;
}

.footer-links {
    width: 68%;
    margin: auto;
    background: #000;
    color: #757575;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3.7rem;
    align-items: center;
}
.footer-links h3 {
    width: inherit;
    height: inherit;
}
.footer-links a {
    color: inherit;
    width: inherit;
    height: inherit;
    text-decoration: none;
}
.footer-links a:hover {
    text-decoration: underline;
}

.contents h2 {
    color:#fff;
    text-align: center;

}
.content:hover {
    transform: scale(1.2);
}
.content-list {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}
.content {
    margin: 0rem 0.2rem auto;
    cursor: pointer;
}
.content img {
    width: 35rem;
}

.bg-contact-detail {
    position: relative;
}
.bg-contact-detail-img {
    opacity: 0.25;
    width: 100%;
}

.header-contact-detail {
    float: left;
    position: absolute;
    left: 0rem;
    top: 0rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;

}

.content-detail {
    color: #fff;
    display: flex;
    flex-direction: row;
}
.content-detail img {
    max-width: 34rem;
    max-height: 88rem;
    margin-left: 3rem;
}
.content-detail-details {
    padding: 0rem 2rem;
}
.content-detail-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-detail-list div:hover {
    transform: scale(1.08) !important;
}

.content-detail-casts {
    display: flex;
    flex-flow: row wrap;
}
.content-detail-cast img {
    width: 19.3rem;
    margin-left: 0.25rem;
    margin-right: 1.75rem;
}

.content-detail-trailer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-detail-trailer h2 {
    padding: 0.75rem 0rem !important;
}
.content-detail-trailer div, .content-detail-list div  {
    cursor: pointer;
    border: .1rem solid #fff;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 1rem 1.4rem;
    border-radius: 0.4rem;
}
.content-detail-trailer div:hover {
    transform: scale(1.08);
}
.video-player {
    width: 100% !important;
    height: 40rem !important;
    margin-bottom: 4rem;
}

.bg-signin {
    position: relative;
}
.bg-signin img {
    opacity: 0.4;
}
.logo-signin img {
    width: 15.5rem;
    opacity: 1 !important;
    top: 0%;
    left: 4%;
    z-index: 1000;
    position: absolute;
}
.logo-signin img:hover {
    transform: scale(1.08);
}
.signin {
    position: absolute;
    top: 15%;
    left: 34%;
    z-index: 1000;
    color: #fff;
    width: 40rem;
    min-height: 37rem;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
}
.signin input {
    height: 3.5rem;
    margin: 2rem 0rem;
    font-size: 1.4rem;
    padding-left: 1rem;
    border-radius: 0.4rem;
}
.signin h1{
    margin-bottom: 1rem;
    font-size: 3rem;
}
.signin h2{
    color: red;
    border: .2rem solid red;
    padding: 0.5rem;
    font-weight: 100;
}

.signin button {
    height: 3.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    background: red;
    border-radius: 0.4rem;
    margin: 2rem 0rem;
    cursor: pointer;
}
.signin button:hover {
    transform: scale(1.08);
}
.signin-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.45rem;
}
.signin-footer a{
    color: #fff;
    text-decoration: none;
}
.signin-footer a:hover {
    text-decoration: underline;
    transform: scale(1.08);
}

.bg-search {
    position: relative;
}
.bg-search-image {
    opacity: 0.4;
    width: 100%;
}
.search {
    float: left;
    position: absolute;
    left: 5%;
    top: 12%;
    z-index: 1000;
    color: #fff;
    width: 90%;
}
.search input {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    border-radius: .6rem;
    margin: auto;
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    font-family: 'FontAwesome', 'Second Font name';
}

.search-filters {
    display: flex;
    justify-content: space-evenly;
    height: 3.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    border-radius: 0.4rem;
    margin: 2rem 0rem;
    cursor: pointer;
}
.search h2 {
    font-size: 2.5rem;
}
.search button {
    height: 3.5rem;
    width: 12.5rem;
    font-size: 1.8rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.4rem;
    cursor: pointer;
}
.search button:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.search-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.content-image-null {
    width: 32rem;
    height: 32rem;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}
.content-image-null img {
    width: inherit;
    height: inherit;

}
.search > a > img {
    width: 15.5rem;
    opacity: 1 !important;
    top: -9rem;
    left: 4%;
    z-index: 1000;
    position: absolute;
}
.search img:hover {
    transform: scale(1.08);
}

.content-search {
    margin: 0rem 0rem 5rem 0rem;
    cursor: pointer;
}
.content-search > a > img {
    width: 30rem;
    height: 30rem;
}